<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A Propos</div>
              <p>Bonjour, je suis <strong>Thibaut Strullu</strong>  .Actuellement je travaille en tant que Full Stack developpeur, je suis à l'aise en Angular8 , C#, Java, JEE, Python et en front end . </p>


              <p>
                Passionné de nouvelles technologies et de developpement web j'aime me lancer des défis et résoudre les problèmes qui s'offre à moi avec plaisir et en souriant.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informations</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de naissance:</strong>
                </div>
                <div class="col-sm-8">30 Novembre 1995</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">thibaut.strullu@laposte.net</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Tél:</strong>
                </div>
                <div class="col-sm-8">+33 604425431</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Région:</strong>
                </div>
                <div class="col-sm-8">  Sud Ouest de la France
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langue:</strong>
                </div>
                <div class="col-sm-8">Français, Anglais</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>