<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Formation</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2019</p>
              <div class="h5">Master</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master MBDS</div>
               <h4 class="category">Université de Nice Sophia Antipolis
               </h4>
               <ul>
                <li> Mobiquité Big Data et Système d'Information </li>
                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">Ingénieur</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Ecole d'ingénieur</div>
               <h4 class="category">ESTIA
               </h4>
               <ul>
                <li>
                  École supérieure des technologies industrielles avancées
                                  </li>
                                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2016</p>
              <div class="h5">Prépa</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">MPSI-PSI</div>
               <h4 class="category">Lycée Sainte Anne
               </h4>
               <ul>
                <li>Mathématique, Physique et Science de l'Ingénieur
                </li>
               
                <li>
                    Classe Préparatoire aux grandes écoles
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>